<!DOCTYPE html>
<html lldng="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saque/Depósito - Sistema Bancário</title>
    <link rel="stylesheet" href="../public/styles.css"> <!-- Adiciona o arquivo de estilo externo -->
</head>

<body>
    <header>
        <h1>Saque/Depósito - Sistema Bancário</h1>
        <nav>
            <ul>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="transferencia.html">Transferência</a></li>
                <li><a href="index.html">Sair</a></li> <!-- Botão Sair -->
            </ul>
        </nav>
    </header>

    <section class="transaction-form saque">
        <h2>Saque</h2>
        <form id="saqueForm">
            <input type="hidden" name="transaction_type" value="saque">
            <label for="saqueAmount">Valor do Saque (R$):</label>
            <input type="number" id="saqueAmount" name="saqueAmount" step="0.01" min="0" required>
            <button type="button" onclick="sacar()">Saque</button>
        </form>
    </section>

    <section class="transaction-form deposit">
        <h2>Depósito</h2>
        <form id="depositForm">
            <label for="depositAmount">Valor do Depósito (R$):</label>
            <input type="number" id="depositAmount" name="depositAmount" step="0.01" min="0" required>
            <button type="button" onclick="deposit()">Depósito</button>
        </form>
    </section>

    <!-- Inclua os arquivos do Firebase -->
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            var accountNumber = urlParams.get('accountNumber');
            var username = urlParams.get('username');

            // Configurar os links
            var dashboardLink = document.querySelector('a[href="dashboard.html"]');
            var transferenciaLink = document.querySelector('a[href="transferencia.html"]');

            if (dashboardLink) {
                dashboardLink.addEventListener("click", function (event) {
                    event.preventDefault(); // Impede o comportamento padrão do link

                    // Consulta ao banco de dados para obter o saldo mais recente
                    var correntistaRef = firebase.database().ref('correntistas/' + accountNumber);
                    correntistaRef.once('value', function (snapshot) {
                        var saldo = snapshot.val().saldo;

                        // Atualizar a URL com o saldo mais recente
                        var newURL = "dashboard.html?accountNumber=" + accountNumber + "&username=" + username + "&saldo=" + saldo;
                        window.location.href = newURL; // Redireciona para a nova URL
                    });
                });
            }

            if (transferenciaLink) {
                transferenciaLink.addEventListener("click", function (event) {
                    event.preventDefault(); // Impede o comportamento padrão do link

                    // Consulta ao banco de dados para obter o saldo mais recente
                    var correntistaRef = firebase.database().ref('correntistas/' + accountNumber);
                    correntistaRef.once('value', function (snapshot) {
                        var saldo = snapshot.val().saldo;

                        // Atualizar a URL com o saldo mais recente
                        var newURL = "transferencia.html?accountNumber=" + accountNumber + "&username=" + username + "&saldo=" + saldo;
                        window.location.href = newURL; // Redireciona para a nova URL
                    });
                });
            }
        });


        // Configuração do Firebase
        const firebaseConfig = {
            apiKey: "AIzaSyAtIGxA5l2gtDiA1XkGieUmFfWKQycEe3Q",
            authDomain: "wykbank-5b21d.firebaseapp.com",
            databaseURL: "https://wykbank-5b21d-default-rtdb.firebaseio.com",
            projectId: "wykbank-5b21d",
            storageBucket: "wykbank-5b21d.appspot.com",
            messagingSenderId: "258416889029",
            appId: "1:258416889029:web:44f6c7a611ee43116174ac",
            measurementId: "G-SGMM5N5BXW"
        };

        // Inicializar Firebase com a configuração importada
        firebase.initializeApp(firebaseConfig);

        // Extrair os parâmetros da URL
        const urlParams = new URLSearchParams(window.location.search);
        console.log("URL: ", window.location.href); // Log da URL completa
        console.log("Parâmetros da URL: ", urlParams.toString()); // Log dos parâmetros da URL

        // Função para depositar
        function deposit() {
            var depositAmount = parseFloat(document.getElementById("depositAmount").value);
            if (isNaN(depositAmount) || depositAmount <= 0) {
                alert("Por favor, insira um valor válido para depósito.");
                return;
            }

            var accountNumber = urlParams.get('accountNumber'); // Obtém o número da conta dos parâmetros da URL
            console.log("Número da conta:", accountNumber);

            var correntistaRef = firebase.database().ref('correntistas/' + accountNumber); // Referência ao nó do correntista

            // Atualiza o saldo do correntista dentro de uma transação
            correntistaRef.transaction(function (correntista) {
                if (correntista) {
                    console.log("Dados do correntista antes da transação:", correntista);

                    // Se o correntista existir
                    if (correntista.saldo < 0) {
                        console.log("Saldo negativo detectado. Saldo atual:", correntista.saldo);

                        // Se o saldo for negativo, estamos lidando com o cheque especial
                        var valorCompensado = Math.min(Math.abs(correntista.saldo), depositAmount); // Calcula o valor a ser compensado
                        console.log("Valor a ser compensado:", valorCompensado);

                        correntista.saldo += valorCompensado; // Compensa o saldo negativo
                        correntista.cheque_especial -= valorCompensado; // Reduz o saldo do cheque especial
                        console.log("Novo saldo após compensação:", correntista.saldo);
                        console.log("Novo limite do cheque especial após compensação:", correntista.cheque_especial);
                        depositAmount -= valorCompensado; // Reduz o valor do depósito
                        console.log("Depósito após compensação:", depositAmount);
                    }

                    // Adiciona o restante do valor do depósito ao saldo
                    correntista.saldo += depositAmount;
                    correntista.cheque_especial += depositAmount; // Aumenta o limite do cheque especial
                    console.log("Saldo final após depósito:", correntista.saldo);
                    console.log("Novo limite do cheque especial:", correntista.cheque_especial);
                }
                return correntista; // Retorna o correntista atualizado
            }, function (error, committed, snapshot) {
                if (error) {
                    alert("Erro ao processar o depósito. Por favor, tente novamente.");
                    console.error("Erro durante a transação de depósito:", error);
                } else if (committed) {
                    alert("Depósito de R$ " + depositAmount.toFixed(2) + " realizado com sucesso!");
                    console.log("Depósito confirmado. Valor depositado:", depositAmount.toFixed(2));
                }
            });
        }




        // Função para sacar
        function sacar() {
            var saqueAmount = parseFloat(document.getElementById("saqueAmount").value);
            console.log("Valor do saque:", saqueAmount);

            var accountNumber = urlParams.get('accountNumber'); // Obtém o número da conta dos parâmetros da URL
            console.log("Número da conta:", accountNumber);

            var correntistaRef = firebase.database().ref('correntistas/' + accountNumber); // Referência ao nó do correntista

            // Recuperar dados do correntista do Firebase
            correntistaRef.once('value', function (snapshot) {
                var correntista = snapshot.val();
                console.log("Dados do correntista:", correntista);

                if (!correntista) {
                    console.log("Correntista não encontrado.");
                    return;
                }

                // Verifica se o saldo é suficiente para o saque
                console.log("Valor do saque:", saqueAmount);
                console.log("Saldo do correntista:", correntista.saldo);
                console.log("Limite do cheque especial:", correntista.cheque_especial);

                // Calcula o saldo disponível, considerando o cheque especial
                var saldoDisponivel = correntista.saldo + correntista.cheque_especial;

                if (saldoDisponivel >= saqueAmount) {
                    console.log("Saldo ou limite do cheque especial é suficiente para o saque.");

                    // Se o saldo for suficiente para cobrir o saque
                    if (correntista.saldo >= saqueAmount) {
                        console.log("Saldo é suficiente para o saque sem usar o cheque especial.");
                        console.log("Atualizando o saldo do correntista:", correntista.saldo - saqueAmount);

                        // Atualiza o saldo
                        correntistaRef.update({
                            saldo: correntista.saldo - saqueAmount
                        }, function (error) {
                            if (error) {
                                alert("Erro ao processar o saque. Por favor, tente novamente.");
                            } else {
                                alert("Saque de R$ " + saqueAmount.toFixed(2) + " realizado com sucesso!");
                            }
                        });
                    } else {
                        console.log("Saldo é insuficiente, utilizando cheque especial.");

                        // Calcula o novo saldo e o novo limite do cheque especial
                        let novoSaldo = 0;
                        let novoLimiteChequeEspecial = correntista.cheque_especial - (saqueAmount - correntista.saldo);

                        console.log("Novo saldo:", novoSaldo);
                        console.log("Novo limite do cheque especial:", novoLimiteChequeEspecial);

                        // Atualiza o saldo e o limite do cheque especial
                        correntistaRef.update({
                            saldo: novoSaldo,
                            cheque_especial: novoLimiteChequeEspecial
                        }, function (error) {
                            if (error) {
                                alert("Erro ao processar o saque. Por favor, tente novamente.");
                            } else {
                                alert("Saque de R$ " + saqueAmount.toFixed(2) + " realizado com sucesso!");
                            }
                        });
                    }
                } else {
                    console.log("Saldo insuficiente para realizar o saque.");
                    alert("Valor do saque excede o limite do saldo e do cheque especial.");
                }
            });
        }

    </script>
</body>

</html>