<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transferência</title>
    <link rel="stylesheet" href="../public/styles.css">
    <style>
        .success-message {
            color: green;
            margin-top: 10px;
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <header>
        <h2 class="title">Transferência</h2>

        <nav>
            <ul>
                <!-- Adicione IDs aos links para poder acessá-los via JavaScript -->
                <li><a id="dashboardLink" href="#" onclick="redirectToDashboard()">Dashboard</a></li>
                <li><a href="index.html">Sair</a></li> <!-- Botão Sair -->
            </ul>
        </nav>

    </header>
    <form id="transferForm">
        <label for="amount">Valor da Transferência:</label>
        <input type="number" id="amount" name="amount" min="0" step="0.01" required>

        <label for="destination">Conta de Destino:</label>
        <input type="text" id="destination" name="destination" required>

        <button type="button" onclick="realizarTransferencia()">Transferir</button>
        <div id="message" class="hidden"></div>
    </form>

    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>

    <script>
        // Configuração do Firebase
        const firebaseConfig = {
            apiKey: "AIzaSyAtIGxA5l2gtDiA1XkGieUmFfWKQycEe3Q",
            authDomain: "wykbank-5b21d.firebaseapp.com",
            databaseURL: "https://wykbank-5b21d-default-rtdb.firebaseio.com",
            projectId: "wykbank-5b21d",
            storageBucket: "wykbank-5b21d.appspot.com",
            messagingSenderId: "258416889029",
            appId: "1:258416889029:web:44f6c7a611ee43116174ac",
            measurementId: "G-SGMM5N5BXW"
        };

        // Inicializar Firebase com a configuração importada
        firebase.initializeApp(firebaseConfig);

        // Referência ao banco de dados
        const database = firebase.database();

        // Variável para verificar se a transferência está em andamento
        let transferenciaEmAndamento = false;

        // Função para redirecionar para o Dashboard
        function redirectToDashboard() {
            // Implemente conforme necessário
        }

        function realizarTransferencia() {
            if (transferenciaEmAndamento) {
                return; // Se a transferência já estiver em andamento, não faça nada
            }

            transferenciaEmAndamento = true; // Marca a transferência como em andamento

            console.log("Botão Transferir clicado!");

            var amount = parseFloat(document.getElementById('amount').value);
            var destination = document.getElementById('destination').value;

            console.log("Valor da transferência:", amount);
            console.log("Conta de destino:", destination);

            if (isNaN(amount) || amount <= 0) {
                console.log("Valor inválido de transferência:", amount);
                showMessage('error', 'Digite um valor válido para a transferência.');
                transferenciaEmAndamento = false; // Marca a transferência como concluída
                return;
            }

            if (!destination.trim()) {
                console.log("Conta de destino em branco.");
                showMessage('error', 'Digite a conta de destino.');
                transferenciaEmAndamento = false; // Marca a transferência como concluída
                return;
            }

            // Recupera os dados do correntista do localStorage
            var correntista = {
                accountNumber: localStorage.getItem('accountNumber'),
                username: localStorage.getItem('username'),
                saldo: parseFloat(localStorage.getItem('saldo')),
                chequeEspecial: parseFloat(localStorage.getItem('chequeEspecial'))
            };

            console.log("Dados do correntista (origem):", correntista);

            if (!correntista.accountNumber) {
                console.log("Correntista não encontrado.");
                showMessage('error', 'Correntista não encontrado.');
                transferenciaEmAndamento = false; // Marca a transferência como concluída
                return;
            }

            if (correntista.accountNumber === destination) {
                console.log("Operação impossível. Tente outra conta.");
                showMessage('error', 'Operação impossível. Tente outra conta.');
                transferenciaEmAndamento = false; // Marca a transferência como concluída
                return;
            }

            // Verifica se há saldo suficiente (considerando o cheque especial)
            var saldoDisponivel = correntista.saldo + Math.max(correntista.chequeEspecial, 0);

            console.log("Saldo disponível (origem):", saldoDisponivel);

            if (saldoDisponivel < amount) {
                console.log("Saldo insuficiente para realizar a transferência.");
                showMessage('error', 'Saldo e limite do cheque especial insuficientes para realizar a transferência.');
                transferenciaEmAndamento = false; // Marca a transferência como concluída
                return;
            }

            console.log("Transferindo:", amount, "para:", destination);

            // Obtém a referência do correntista de destino no banco de dados Firebase
            const correntistaDestinoRef = database.ref('correntistas/' + destination);

            console.log("correntistaDestinoRef:", correntistaDestinoRef);

            // Realiza a transferência no Firebase
            correntistaDestinoRef.once('value', function (snapshot) {
                console.log("Snapshot (destino):", snapshot);

                if (snapshot.exists()) {
                    const dadosDestino = snapshot.val();
                    console.log("Dados do destino:", dadosDestino);

                    let saldoDestino = parseFloat(dadosDestino.saldo);
                    console.log("Saldo destino antes da transferência:", saldoDestino);

                    if (saldoDisponivel < amount) {
                        console.log("Saldo insuficiente para realizar a transferência.");
                        showMessage('error', 'Saldo insuficiente para realizar a transferência.');
                        transferenciaEmAndamento = false; // Marca a transferência como concluída
                        return;
                    }

                    console.log("Dados do correntista de destino:", dadosDestino);

                    // Atualiza o saldo da conta de destino no Firebase
                    const novoSaldoDestino = saldoDestino + amount;
                    console.log("Novo saldo da conta de destino:", novoSaldoDestino);
                    database.ref('correntistas/' + destination).update({ saldo: novoSaldoDestino })
                        .then(function () {
                            // Exibe mensagem de sucesso
                            showMessage('success', 'Transferência realizada com sucesso!');

                            // Atualiza o saldo da conta de origem no Firebase
                            const novoSaldoOrigem = correntista.saldo - amount;
                            database.ref('correntistas/' + correntista.accountNumber).update({ saldo: novoSaldoOrigem })
                                .then(function () {
                                    // Atualiza o saldo da conta de origem no localStorage
                                    localStorage.setItem('saldo', novoSaldoOrigem);
                                    
                                    // Atualiza o saldo do cheque especial no localStorage
                                    const novoChequeEspecial = correntista.chequeEspecial;
                                    localStorage.setItem('chequeEspecial', novoChequeEspecial);

                                    // Atualiza o saldo da conta de destino no localStorage
                                    const novoSaldoDestinoLocal = saldoDestino + amount;
                                    localStorage.setItem('saldo_destino', novoSaldoDestinoLocal);

                                    transferenciaEmAndamento = false; // Marca a transferência como concluída
                                })
                                .catch(function (error) {
                                    console.log("Erro ao atualizar saldo da conta de origem:", error.message);
                                    showMessage('error', 'Erro ao atualizar saldo da conta de origem.');
                                    transferenciaEmAndamento = false; // Marca a transferência como concluída
                                });
                        })
                        .catch(function (error) {
                            console.log("Erro ao atualizar saldo da conta de destino:", error.message);
                            showMessage('error', 'Erro ao atualizar saldo da conta de destino.');
                            transferenciaEmAndamento = false; // Marca a transferência como concluída
                        });
                } else {
                    console.log("Conta de destino não encontrada.");
                    showMessage('error', 'Conta de destino não encontrada.');
                    transferenciaEmAndamento = false; // Marca a transferência como concluída
                }
            });
        }



        function showMessage(type, message) {
            console.log("Mensagem:", message);

            var messageDiv = document.getElementById('message');
            messageDiv.textContent = message;
            messageDiv.className = type === 'success' ? 'success-message' : 'error-message';
            messageDiv.classList.remove('hidden');
        }
    </script>
</body>

</html>